[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
rstcheck = "*"
bumpversion = "*"
Sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
broqer = {editable = true, path = "."}